/Program/testing.py
/Program/testing.py
/Program/quiz.spec
/Program/dist/
/Program/build/
/Program/output/*
/Program/quiz.spec
/dist/
/build/
/Quiz_Maker.spec
/Checklist_Flat_Icon_Vector.png
/Checklist_Flat_Icon_Vector.ico
/Program/Quiz_Maker.spec
/version_info.txt
